nav{
  border: 1px solid black;
  background-color: antiquewhite;
}

nav ul{
  display: table;
  width: 100%;
}
nav li {
  display: table-cell;
  
}

body {
  background-color:Aqua;
}

#myblog {
  border: 2px dotted red;
}
